<% if @parent.id > 0 %>
	<div class="well">
		<div class="row">
			<p>
				<%= link_to @parent.user.username, @parent.user %> | posted 
				<%= time_ago_in_words(@parent.created_at) %> ago 
			</p>
		</div>
		<div class="row">
			<p><%= @parent.text %></p>
		</div>
	</div>
<% elsif @parent.id == 0 %>
	<div class="row">
		<div class="well">
			<%= render 'boards/post', post: @post %>
		</div>
	</div>
<% end %>

<%= form_for @comment, url: board_post_comments_path(@board, @post),
											 method: :post do |f| %>

	<div class="form-group">
		Commenting as: <%= link_to current_user.username, current_user %>
		<%= f.hidden_field :parent_id, value: @parent.id %>
		<%= f.text_area :text, columns: 1,
													 rows: 3,
													 autofocus: true,
													 class: "form-control" %>
	</div>

	<button type="submit" class="btn btn-default">Save</button>

<% end %>