<%= "<div class=\"well\">".html_safe if (defined?(wrap_in) && wrap_in == :well) %>
	<div class="row">
		<div class="col-sm-1">
			<span>
				<%= render 'shared/vote_box', voteable: comment %>
			</span>
		</div>
		<div class="col-sm-11">
			<div class="row">
				<p>
					<%= link_to comment.user.username, comment.user %> | posted 
					<%= time_ago_in_words(comment.created_at) %> ago 
					<%= "to #{link_to comment.post.title, board_post_path(board_id: comment.post.board, id: comment.post)}".html_safe if (defined?(show_post) && show_post == true) %>
				</p>
			</div>
			<div class="row">
				<p><%= comment.text %></p>
			</div>
			<div class="row">
				<%= link_to 'Reply', new_board_post_comment_path(comment.post.board,
																												 comment.post,
																												 parent_id: comment.id) %>
			</div>
		</div>
	</div>
<%= "</div>".html_safe if (defined?(wrap_in) && wrap_in == :well) %>
