<div class="jumbotron">
	<h2>Find your board</h2>
</div>

<%= form_tag find_board_path, method: :post do |f| %>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="form-group">
				<%= text_field_tag "address[address2]",
													 nil, 
													 class: "form-control",
													 placeholder: "Street address (no apartment or "\
													 							"building numbers)",
													 autofocus: true %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="form-group">
				<%= text_field_tag "address[city]",
													 nil,
													 class: "form-control",
													 placeholder: "City" %>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="form-group">
				<%= text_field_tag "address[state]",
													 nil,
													 class: "form-control",
													 placeholder: "State" %>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<%= text_field_tag "address[zip5]",
													 nil,
													 class: "form-control",
													 placeholder: "Zip" %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2 col-sm-offset-1">
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Find</button>
			</div>
		</div>
	</div>
<% end %>

<br><br>
<%= link_to 'Create a board', new_board_path %>