<%= form_for @board do |f| %>
  <% if @board.errors.any? %>
    <div class="row">
      <div class="col-sm-10">
        <div class="alert alert-danger">
          <h4><%= pluralize(@board.errors.count, "error") %> prohibited
                  this board from being saved:
          </h4>
          <ul>
            <% @board.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :slug, value: @board.slug %>

  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <%= f.text_field :title,
                         class: "form-control",
                         placeholder: "Title",
                         autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <%= f.text_field :description,
                         class: "form-control",
                         placeholder: "Description" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
<% end %>
