<div class="jumbotron">
	<h2><%= @board.title %></h2>
	<h4><%= @board.description %></h4>
</div>

<hr />

<% if user_signed_in? %>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Create new post', new_board_post_path(@board),
																		 id: 'toggle-new-post',
																		 class: 'btn btn-primary',
																		 remote: true %>
		</div>
	</div>

	<div id="new-post-form"></div>
<% else %>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Create new post', new_user_session_path,
																		 id: 'new-user-session',
																		 class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>

<hr />

<h4>Recent posts</h4>
<div class="well">
	<% if @board.posts.any? %>
		<%= render partial: 'shared/post', collection: @board.posts %>
	<% else %>
		<p>We ain't found shit.</p>
	<% end %>
</div>
