<div class="jumbotron">
	<h2><%= @board.title %></h2>
	<h4><%= @board.description %></h4>
</div>

<hr />

<% if user_signed_in? %>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Create new post', new_board_post_path(@board),
																		 id: 'toggle-new-post',
																		 class: 'btn btn-primary' %>
		</div>
	</div>

	<div id="new-post" class="row">
		<div class="col-sm-12">
			<%= render 'posts/form' %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Create new post', new_user_session_path,
																		 id: 'new-user-session',
																		 class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>

<hr />

<h4>Recent posts</h4>
<% if @posts.any? %>
	<div class="well">
		<%= render partial: 'shared/post', collection: @posts %>
	</div>
<% else %>
	<div class="well">
		<p>We ain't found shit.</p>
	</div>
<% end %>
