<%= form_for @post, url: board_posts_path(params[:board_id]), method: :post do |f| %>
  <% if @post.errors.any? %>
    <div class="row">
      <div id="form_errors" class="col-sm-12">
        <h3>
          <%= pluralize(@post.errors.count, "error") %> prohibited this
              post from being saved:
        </h3>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :board_id, value: params[:board_id] %>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control",
                                 placeholder: "Title",
                                 autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :link %> (Optional)
        <%= f.text_field :link, class: "form-control",
                                placeholder: "Link" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :text %>
        <%= f.text_area :text, rows: 3, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
<% end %>
