<div class="row board">
  <div class="col-sm-10">
    <%= @board.title_block %>
  </div>
  <div class="col-sm-2">
    <%= @board.subscribe_button(class: "pull-right") %>
  </div>
</div>

<hr />

<div class="post-container">

  <%= render partial: 'shared/post_detail', object: @post, as: :post %>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="post-text rounded-box">
        <p><%= @post.text %></p>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="post-reply">
  <%= link_to 'Reply', new_board_post_comment_path(post_id: @post, parent_id: nil),
                       class: 'btn btn-primary',
                       remote: true,
                       method: :get %>
  <div id="<%= "comment-#{nil}-reply" %>" class="comment-reply-form"></div>
</div>

<hr />

<div class="comments-container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Recent comments:</h4>
    </div>
  </div>

  <%= @post.comments_block %>
</div>
