<div class="row">
	<div class="col-sm-8">
		<h2>
			<%= link_to @post.board.title, @post.board %><br />
			<small><%= @post.board.description %></small>
		</h2>
	</div>
	<div class="col-sm-4">
		<% button_text = current_user.follow(@post.board) ? 'Unsubscribe' : 'Subscribe' %>
		<% button_class = current_user.follow(@post.board) ? 'btn-default' : 'btn-primary' %>
		<%= link_to "#{button_text}", follow_path(klass: @post.board.class, id: @post.board.id),
														  		class: "btn #{button_class} btn-subscribe pull-right",
														  		method: :post,
														  		remote: true %>
	</div>
</div>

<hr />

<div class="row post post-header">
	<div class="col-sm-1">
		<span>
			<%= render 'shared/vote_box', voteable: @post %>
		</span>
	</div>
	<div class="col-sm-11">
		<div class="row">
			<h2><%= @post.title %></h2>
		</div>
		<div class="row">
			<small>
				submitted <%= time_ago_in_words(@post.created_at) %> ago
				by <%= link_to @post.user.username %>
			</small>
		</div>
	</div>
</div>
<div class="row post post-text">
	<div class="col-sm-12">
		<div class="well">
			<%= @post.text %>
		</div>
	</div>
</div>
<div class="row post post-stats">
	<div class="col-sm-12">
		<small><%= @post.comments.size %> comments</small>
	</div>
</div>

<hr />

<div class="row">
	<%= form_tag board_post_comments_path(@post.board, @post), method: :post %>

	<div class="form-group">

		<%= hidden_field_tag 'comment[post_id]', @post.id %>
		<%= label_tag 'comment[text]', "Commenting as: #{link_to(current_user.username, \
																														 current_user)}".html_safe %>
		<%= text_area_tag 'comment[text]', nil,
																			 rows: 3,
																			 autofocus: true,
																			 class: "form-control" %>
	</div>
</div>

<div class="row">
	<button type="submit" class="btn btn-default">Save</button>
</div>

<% if @post.comments.any? %>
	<%= display_nested_comments(@post.comments.arrange(order: :created_at)) %>
<% end %>

<hr />
